---
import { Image } from 'astro:assets';
import MainLayout from '../layouts/MainLayout.astro';
import siteConfig from '../site.config';
import coverImage from '../assets/images/astronaut-4.png';
---

<MainLayout activePage="contact" pageTitle={siteConfig.title + ' | Contact'}>
  <div class="page-content">
    <h1 class="sigmar-ff text-balance">{siteConfig.contactInfo?.title}</h1>
    <Image
      width={400}
      height={300}
      loading="eager"
      layout="fixed"
      class="rounded-4xl mb-8 mx-auto grayscale-75 saturate-200"
      src={coverImage}
      alt="Space envelop"
    />
    <div class="flex flex-col">
      <p class="font-light text-left">
        {siteConfig.contactInfo?.text}<br />
        {siteConfig.contactInfo?.promote}
      </p>
      <p class="font-light text-left">
        {siteConfig.contactInfo?.email?.text}<br />
        <a href={siteConfig.contactInfo?.email?.href} class="font-light text-left">
          {siteConfig.contactInfo?.email?.email}
        </a>
      </p>
      <p class="font-light text-left">
        <!-- 其他联系方式: -->
        微信: zzh1596481611 | QQ: 1596481611
      </p>
    </div>
  </div>
</MainLayout>
