---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import siteConfig from '../site.config';
import { sortItemsByDateDesc, withBase, getCollectionWithNumericIds } from '../utils/helpers';
import PostCardPreview from '../components/PostCardPreview.astro';
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import heroImage from '../assets/images/pixeltrue-space-discovery.svg';
import ArrowRight from '../icons/ArrowRight.astro';

const allPosts = (await getCollectionWithNumericIds()).sort(sortItemsByDateDesc);
---

<MainLayout activePage="home" pageTitle={siteConfig.title + ' | 无垠空间'}>
  <div
    class="jumbo-banner flex flex-col lg:flex-row lg:items-center lg:justify-between w-full px-4 my-8 sm:my-12 gap-6"
  >
    <div class="w-full lg:w-1/2">
      {
        siteConfig.hero?.eyebrowText && (
          <span class="tag rounded-full text-xs px-2 py-0 border border-gray-500 kanit-light mb-2 inline-block">
            {siteConfig.hero?.eyebrowText}
          </span>
        )
      }
      <h1 class="sigmar-ff leading-tight text-balance text-2xl sm:text-4xl lg:text-6xl mb-4">
        {siteConfig.hero?.title}
      </h1>
      <p class="kanit-regular text-balance text-sm sm:text-base lg:text-lg mb-6 sm:mb-8">
        {siteConfig.hero?.text}
      </p>
      <div class="flex flex-wrap items-center gap-3 sm:gap-4 mt-6">
        {
          siteConfig.hero?.actions?.map((action, index) => (
            <Button href={action.href} class={index === 0 ? 'space-btn-filled' : 'space-btn-outlined'}>
              {action.text}
            </Button>
          ))
        }
      </div>
    </div>
    <div class="w-full lg:w-1/2 mt-8 lg:mt-0">
      <Image
        class="cover-img w-full h-auto max-w-md mx-auto lg:max-w-full"
        src={heroImage}
        alt={'Astronaut in space'}
        width={400}
        height={300}
      />
    </div>
  </div>
  <div class="page-content">
    <div id="posts" class="flex flex-col items-center justify-center w-full">
      <h2 class="sigmar-ff text-balance pt-0! pb-8!">最近更新</h2>
      <div class="flex flex-col gap-8 max-w-full text-left">
        {allPosts.slice(0, siteConfig.recentPostLimit).map((post) => <PostCardPreview post={post} />)}
      </div>
      <Button href={withBase('/blog')} class="space-btn-filled mt-8">
        查看所有文章 <ArrowRight class="w-5 h-5 fill-current ml-4" />
      </Button>
    </div>
  </div>
</MainLayout>
