---
import IconButton from './IconButton.astro';
import ArrowLeft from '../icons/ArrowLeft.astro';
import ArrowRight from '../icons/ArrowRight.astro';

const { page, class: className } = Astro.props;
---

<nav
  aria-label="Pagination"
  class:list={['p-4 flex items-center justify-center gap-4 sm:gap-8 min-w-full flex-wrap', className]}
>
  <IconButton
    class="disabled:fill-gray-500 disabled:hover:cursor-not-allowed disabled:hover:text-gray-500! flex-shrink-0"
    href={page.url.prev}
    aria-label={`Go to page ${page.currentPage - 1} of ${page.lastPage}`}
    disabled={!page.url.prev}
  >
    <ArrowLeft class="w-4 h-4 sm:w-5 sm:h-5 fill-current" />
  </IconButton>
  <span class="text-sm px-2 text-center" aria-current="page">第 {page.currentPage} 页，共 {page.lastPage} 页</span>
  <IconButton
    class="disabled:fill-gray-500 disabled:hover:cursor-not-allowed disabled:hover:text-gray-500! flex-shrink-0"
    href={page.url.next}
    aria-label={`Go to page ${page.currentPage + 1} of ${page.lastPage}`}
    disabled={!page.url.next}
  >
    <ArrowRight class="w-4 h-4 sm:w-5 sm:h-5 fill-current" />
  </IconButton>
</nav>
